/* Footer */
.footer-shadow{
  position: absolute;
  background-color: #191919;
  top: 94%;
  border-radius: 2vw 2vw 0 0;
  width: 95%;
  height: 8vh;
  opacity: .7;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.footer{
  position: absolute;
  display: flex;
  background-color: #191919;
  top: 94%;
  border-radius: 2vw 2vw 0 0;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
}
.logo{
  margin-left: 1.5%;
  width: 5%;
}
.design{
  width: 55%;
  height: 100%;
  overflow: visible;
}
.contact{
  margin-right: 1.5%;
  overflow: visible;
}
#logo{
  height: 95%;
  width: auto;
  position: relative;
  float: left;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translate(0%, -50%);
}
.ftext{
  color: #f9f9f9;
  font-size: 90%;
  font-family: Product Sans Regular;
  text-decoration: none;
  text-align: center;
  position: relative;
  float: left ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 840px) {
  .ftext{
    font-size: 60%;
  }
  .design{
    width: 50%;
  }
}
.right{
  position: relative;
  float: right;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
