body
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #efefef;
}
h1{
  font-family: Product Sans Regular;
  color: #191919;
  font-size: 300%;
  padding: 0;
  margin: 0;
    align: center;
    text-align: center;
}
p, a{
  color: #5f6368;
  font-family: Bahnschrift Regular;
  font-size: 130%;
  padding-top: .5%;
  margin-left: 5%;
  margin-right: 5%;
  align: center;
  text-align: center;
}
a{
  color: darkblue;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.fullBg{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
