body
{
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
.fullBg{
  width: 98vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Download{
  background-color: #FFAA00;
  height: 12vh;
  width: 12vh;
  position: fixed;
  border-radius: 50%;
  bottom: 3vh;
  right: 3vh;
  cursor: pointer;
  opacity: 0.65;
}
